nodeRed/flows1001.json
[{"id":"0215430ade427222","type":"tab","label":"ProyectoCapstone","disabled":false,"info":""},{"id":"16897210553d80a5","type":"mqtt in","z":"0215430ade427222","name":"","topic":"samsung/codigoiot/casa/cesto/distancia","qos":"2","datatype":"auto","broker":"4979d994a5cc578f","nl":false,"rap":true,"rh":0,"x":150,"y":120,"wires":[["1e826038ceedcb05","43f42a2552475071","fe79faaecee4bfe5","0a9e25441ebca2d5","9799ead0db368aeb"]]},{"id":"fe79faaecee4bfe5","type":"ui_text","z":"0215430ade427222","group":"c0f7a4453ad62c27","order":0,"width":0,"height":0,"name":"Distancia","label":"Distancia [cm]","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":220,"wires":[]},{"id":"0a9e25441ebca2d5","type":"ui_gauge","z":"0215430ade427222","name":"Grafica Distancia","group":"c0f7a4453ad62c27","order":0,"width":0,"height":0,"gtype":"gage","title":"Nivel de basura","label":"cm","format":"{{value}}","min":0,"max":"40","colors":["#bd0d30","#e6e600","#0ee115"],"seg1":"cerca","seg2":"lejos","x":390,"y":320,"wires":[]},{"id":"41d85707fe29e0f1","type":"ui_text","z":"0215430ade427222","group":"c0f7a4453ad62c27","order":1,"width":0,"height":0,"name":"","label":"Advertencia Distancia","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":40,"wires":[]},{"id":"1e826038ceedcb05","type":"switch","z":"0215430ade427222","name":"Cerca","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":60,"wires":[["223b8a974575f5f3"]]},{"id":"223b8a974575f5f3","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Demasiada basura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["41d85707fe29e0f1"]]},{"id":"43f42a2552475071","type":"switch","z":"0215430ade427222","name":"Bien","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":100,"wires":[["b25bccb18a87a0f6"]]},{"id":"b25bccb18a87a0f6","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Nivel aceptable de basura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["41d85707fe29e0f1"]]},{"id":"69b3d90bdef67d64","type":"mqtt in","z":"0215430ade427222","name":"","topic":"samsung/codigoiot/casa/cesto/temperatura","qos":"2","datatype":"auto","broker":"4979d994a5cc578f","nl":false,"rap":true,"rh":0,"x":160,"y":420,"wires":[["54aad5aa22d5d926","ee5f69e7a1b3045c","df3d9cd4b86b9bb7","a4e03383f76bdaca","6262a07a93b770e6"]]},{"id":"54aad5aa22d5d926","type":"switch","z":"0215430ade427222","name":"Frio","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":376,"wires":[["9b5a76607328c7ed"]]},{"id":"ee5f69e7a1b3045c","type":"switch","z":"0215430ade427222","name":"Calido","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":440,"wires":[["4f8a5853b277eda0"]]},{"id":"9b5a76607328c7ed","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatura aceptable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["c09c677b26f3b62a"]]},{"id":"4f8a5853b277eda0","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatura elevada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["c09c677b26f3b62a"]]},{"id":"c09c677b26f3b62a","type":"ui_text","z":"0215430ade427222","group":"365cb58c9eb65ca1","order":1,"width":0,"height":0,"name":"","label":"Advertencia Temperatura","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":380,"wires":[]},{"id":"df3d9cd4b86b9bb7","type":"debug","z":"0215430ade427222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"a4e03383f76bdaca","type":"ui_text","z":"0215430ade427222","group":"365cb58c9eb65ca1","order":0,"width":0,"height":0,"name":"Temperatura","label":"Temperatura [°C]","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":540,"wires":[]},{"id":"6262a07a93b770e6","type":"ui_gauge","z":"0215430ade427222","name":"Grafica Temperatura","group":"365cb58c9eb65ca1","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#46c2d2","#9e6ed8","#e10e0e"],"seg1":"frio","seg2":"calido","x":420,"y":580,"wires":[]},{"id":"56a48e07e9ed23c4","type":"mqtt in","z":"0215430ade427222","name":"","topic":"samsung/codigoiot/casa/cesto/humedad","qos":"2","datatype":"auto","broker":"4979d994a5cc578f","nl":false,"rap":true,"rh":0,"x":150,"y":720,"wires":[["64923f30da1ee33d","237f1c2a37100d65","aac6f1a649f06816","d36cc9b0c7e7363a","87adbfe6aaa56e15","bc4dea9b72553439"]]},{"id":"64923f30da1ee33d","type":"switch","z":"0215430ade427222","name":"Poca","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"70","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":676,"wires":[["3b6d1627ab223bbb"]]},{"id":"237f1c2a37100d65","type":"switch","z":"0215430ade427222","name":"Considerable","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"70","vt":"num"},{"t":"lt","v":"85","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":740,"wires":[["60ee0804abd1cbaa"],[]]},{"id":"3b6d1627ab223bbb","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Poca Humedad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":640,"wires":[["8ee5d5c9fbacad8d"]]},{"id":"60ee0804abd1cbaa","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Humedad considerable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["8ee5d5c9fbacad8d"]]},{"id":"aac6f1a649f06816","type":"debug","z":"0215430ade427222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":920,"wires":[]},{"id":"d36cc9b0c7e7363a","type":"ui_text","z":"0215430ade427222","group":"078526afeaa29c31","order":0,"width":0,"height":0,"name":"Humedad","label":"Humedad [%]","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":980,"wires":[]},{"id":"87adbfe6aaa56e15","type":"ui_gauge","z":"0215430ade427222","name":"Grafica Humedad","group":"078526afeaa29c31","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#47f0ed","#e10e0e"],"seg1":"poca","seg2":"mucha","x":410,"y":1020,"wires":[]},{"id":"bc4dea9b72553439","type":"switch","z":"0215430ade427222","name":"Alta","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"85","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":800,"wires":[["b8b48bf3be34798a"]]},{"id":"b8b48bf3be34798a","type":"change","z":"0215430ade427222","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Humedad alta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":800,"wires":[["8ee5d5c9fbacad8d"]]},{"id":"8ee5d5c9fbacad8d","type":"ui_text","z":"0215430ade427222","group":"078526afeaa29c31","order":1,"width":0,"height":0,"name":"Advertencia Humedad","label":"Advertencia Humedad","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":720,"wires":[]},{"id":"9799ead0db368aeb","type":"ui_chart","z":"0215430ade427222","name":"","group":"c0f7a4453ad62c27","order":3,"width":0,"height":0,"label":"Historico Distancia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":170,"y":240,"wires":[[]]},{"id":"d840f89368cbba8a","type":"mqtt in","z":"0215430ade427222","name":"","topic":"samsung/codigoiot/casa/cesto/humedadTierra","qos":"2","datatype":"auto","broker":"4979d994a5cc578f","nl":false,"rap":true,"rh":0,"x":214,"y":1110,"wires":[["1cc38dc82174aa59","847da0583d9a4e5e"]]},{"id":"1cc38dc82174aa59","type":"debug","z":"0215430ade427222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1120,"wires":[]},{"id":"847da0583d9a4e5e","type":"ui_text","z":"0215430ade427222","group":"3446ecb17ceeceb2","order":0,"width":0,"height":0,"name":"Advertencia Humedad Suelo","label":"Humedad Suelo","format":"{{msg.payload}}","layout":"row-spread","x":556,"y":1164,"wires":[]},{"id":"4979d994a5cc578f","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"luis","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c0f7a4453ad62c27","type":"ui_group","name":"Información Distancia","tab":"52c8ba5d2bbedc28","order":1,"disp":true,"width":"6","collapse":false},{"id":"365cb58c9eb65ca1","type":"ui_group","name":"Informacion Temperatura","tab":"52c8ba5d2bbedc28","order":3,"disp":true,"width":"6","collapse":false},{"id":"078526afeaa29c31","type":"ui_group","name":"Informacion Humedad","tab":"52c8ba5d2bbedc28","order":5,"disp":true,"width":"6","collapse":false},{"id":"3446ecb17ceeceb2","type":"ui_group","name":"Informacion Humedad Suelo","tab":"52c8ba5d2bbedc28","order":4,"disp":true,"width":"6","collapse":false},{"id":"52c8ba5d2bbedc28","type":"ui_tab","name":"ProyectoCapstone","icon":"dashboard","order":2,"disabled":false,"hidden":false}]